body {
  background: #FFFACD;
  margin: 0px;
  position: relative;
  bottom: 100px;
}

.search {
  position: relative;
  /*background-image: url("party.gif");*/
}
.search-cont{
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 40%;
  margin: 0px;
}

 .current-position-container {
   background: lightgray;
   width: 30%;
   text-align: center;
 }

 .postcode-search {
   background: lightgray;
   width: 30%;
   height: 80px;
   text-align: center;
 }

.input-search {
  position: relative;
}

.zip-comp {
  border: 1px solid black;
  margin-top: -1px;
  opacity: 0.5
}

.zip-comp:hover {
  opacity: 1;
}

.place-comp {
  border: 1px solid black;
  margin-bottom: -1px;
  opacity: 0.5;
  /*background-image:url("Party-drinks.jpg");*/
}

.display-container {
  position: relative;
  bo: 115px;
}

.place-comp:hover {
  opacity: 1;
}
