body {
  background: orange;
  margin: 0px;
  position: relative;
  bottom: 100px;
}

.search {
  position: relative;
  /*background-image: url("party.gif");*/
}
.search-cont{
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 40%;
  margin: 0px;
}

.current-button {


 }

 .current-position-container {
   background: lightgray;
   width: 30%;
   text-align: center;
 }

 .postcode-search {
   background: lightgray;
   width: 30%;
   height: 80px;
   text-align: center;
 }

.input-search {
  position: relative;
}

.zip-comp {
  border: 5px solid black;
  margin-top: 25px;
}

.place-comp {
  border: 5px solid black;
  margin-bottom: 25px;
  /*background-image:url("Party-drinks.jpg");*/
}

.display-container {
  position: relative;
  top: 100px;
}
